.select {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 8px;

}

.option {
    margin-bottom: 10px;
    padding: 5px;
    transition: all .3s ease-in-out;
    background-color: #61dafb;
}

.option:hover {
    background-color: aquamarine;

}